# Qt / Qt Creator
*.user
*.user.*
build/
build-*/

# Compilación
*.o
*.obj
*.exe
*.dll
*.so
*.a

# MinGW
*.pdb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Archivos de datos generados
*.dat

# Ejecutables del proyecto
SistemaDescuentos
SistemaDescuentos.exe

